@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
	all: unset;
	display: revert;
}

*,
*::before,
*::after {
	font-family: "Montserrat", sans-serif;

	box-sizing: border-box;
	touch-action: manipulation;
}

a {
	cursor: pointer;
}